@page "/ChangeLog"
@* @using Microsoft.AspNetCore.Authorization *@

@* To hide the Change Log page.*@
@* @attribute [Authorize] *@

<h2>Change Log</h2>

<h4>v.1.0.0 (Unreleased)</h4>

- Allow users to change their password.  Currently stuck with the random one we generate.
- Add API to add new users in bulk.  It's a lot of work to manually add them to the database.
- Update Tom and Samir's usernames to match their Initech ones (i.e. add numbers to end of username).
- Update Tom's password once we are out of Beta.

<h4>v.0.9.2 Beta</h4>

- Fixed some minor issues.
- Added ability to see old TPS Reports.

<h4>v.0.9.1 Beta</h4>

- Fixed issues found by Tom and Samir.
- Update Samir's password but Tom wanted his left as is so it's easier to enter for testing.
- Enforce account lockout and Initech corporate password requirements for new users (i.e. lenght >= 12).
- Loaded some additional beta users into the database.

<h4>v.0.9.0 Beta</h4>

- Beta release so Tom and Samir can do some testing.