@page "/"

<PageTitle>Initech TPS Report Uploader</PageTitle>

<div class="col-md-6 col-md-offset-2">
    <section>
        <p>
            Welcome to the Initech TPS Report Uploader application! TPS Reports are important the success of Initech
            so please make sure you upload your promptly and don't forget to include the new cover page.
        </p>
        <p>
            The TPS Report Uploader uses a different account then your usual Initech Windows, CMS, Help Desk, and
            bathroom code.  We try to keep you username the same, which is you firstname followed by a number
            to prevent duplicate usernames (e.g. joe123).   You should have been emailed your login credentials and if 
            you haven't please open a ticket on the Initech Help Desk system next time you are back in the office.
        </p>
        <p>
            That said, if you where an early adopter/tester your username will just be your first name without any 
            numbers at the end.  We are working to fix this in the future.
        </p>
        <p>
            This application was released quickly when everyone started working from home.  After you login check out
            the Change Log to see what we are working on next.  Please create a Initech Help Desk ticket if you spot 
            a bug or have an improvement.
        </p>
    </section>
</div>

@code {
    
}